@import './_variables';
@import 'node_modules/bulma/bulma';
@import 'node_modules/bulmaswatch/superhero/_overrides';

.mobile-hide {
    @include mobile {
        display: none;
    }
}

.mobile-only {
    @include tablet {
        display: none;
    }
}

.anim-spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
